body {
    background: black;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.routeImage {
    /* width: 860px;
    height: 860px;  /* Update in loadingImageDiv */
    max-width: 100%;
    min-width: 100%;
}

#images {
    box-shadow: 5px 5px 15px #c1c1c1;
}

#leftSide {
    float: left;
    /* width: 860px; */
    width: 41%;
    position:relative; /* For the #dataValues */
}

#title {
    /* font-size: 94px; */
    font-size: 75px; 
    padding: 30px 30px 30px 83px;
    font-weight: 900;
}

#selectDataTitle {
    font-size: 35px;
    padding: 30px;
}

#filterSelect {
    float: left;
    /*width: 400px; */
    width: 18%;
    /* margin-top: 166px; */
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 35px;
}

.filterContainer {
    /*background: red;
    /*height: 68px;
    vertical-align: bottom;*/
    padding-top: 10px;
    font-size: 27px;
}

#filterExplanatoryText {
    font-size: 30px;
    padding-bottom: 15px;
}

#filtersContainer {
}

.filter { /* checkbox */
    display: none;
}

#dataValues {
    font-size: 53px;
    font-weight: 900;

    width: 20%;
    position: absolute;
    top: 0px
    /*background: white;*/
    padding: 20px;
    left: 0px;
    font-size: 30px;

    /*-webkit-text-stroke: 1px black;*/
    text-shadow:
       -1px -1px 0 white,  
        1px -1px 0 white,
        -1px 1px 0 white,
         1px 1px 0 white;
}

.dataValue {
    display: inline-block;
}

.dataValueContainer {
    font-size: 94px;
}

.dataName {
    display: inline-block;
    width: 170px;
}

#middleSide {
    padding-left: 20px;
    float: left;
    padding-top: 40px;
    width: 32%;
}

.neighborhoodImage {
    /* width: 600px; */
    max-width: 100%;
}
@media only screen and (max-height: 1010px) {
    .neighborhoodImage {
        max-height: 587px;
    }
}

#neighorhoodNamesContainer {
    padding-top: 20px;
    width: 600px;
}

.neighborhoodName {
    float: left;
    width: 142px;
    font-size: 20px;
    margin: 2px;
}

#loadingImageDiv {
    color: white;
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
    /* line-height: 860px; */
}

#aboutButton {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    z-index: 100;
}

#aboutPage {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 80px;
    background: black;
    font-size: 25px;
}

.aboutName {
    color: #c18413;
}


/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}

/* ============================================================
  SWITCH 2 - ROUND FLAT
============================================================ */
input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #8ce196;
}

/* ============================================================
  SWITCH 3 - YES NO
============================================================ */
input.cmn-toggle-yes-no + label {
  padding: 2px;
  width: 120px;
  height: 60px;
}
input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: black;
  /*font-family: "Roboto Slab", serif;*/
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}
input.cmn-toggle-yes-no + label:before {
  background-color: #dddddd;
  content: attr(data-off);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label.blue:after {
  background-color: blue;
}
input.cmn-toggle-yes-no + label.red:after {
  background-color: red;
}
input.cmn-toggle-yes-no + label.green:after {
  background-color: green;
}
input.cmn-toggle-yes-no + label:after {
  color: white;
  background-color: #8ce196;
  content: attr(data-on);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}

